{% load staticfiles %}
<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.css">
		<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
		<link href="{% static 'mitford/css/bootstrap-treeview.css' %}" type="text/css" rel="stylesheet">
		<link href="{% static 'mitford/css/mitford.css' %}" type="text/css" rel="stylesheet">
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script type="text/javascript" src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
		<script type="text/javascript" src="{% static 'mitford/js/FileSaver.js' %}"></script>
		<script type="text/javascript" src="{% static 'mitford/js/bootstrap-filestyle.min.js' %}"> </script>
		
		
		
		
		<script src="{% static 'mitford/js/bootstrap-treeview.js' %}"></script>	
	
		<script type="text/javascript">	
			function loadXMLDoc(filename)
			{
				if (window.XMLHttpRequest)
  				{
  					xhttp=new XMLHttpRequest();
  				}
				else // code for IE5 and IE6
  				{
  					xhttp=new ActiveXObject("Microsoft.XMLHTTP");
  				}
				xhttp.open("GET",filename,false);
				xhttp.send();
				return xhttp.responseXML;
			}
			function loadXMLString(txt)
			{
				txt = txt.replace(/>\s*/g, '>'); 
				txt = txt.replace(/\s*</g, '<');
				//remove namespaces
				txt = txt.replace(/<(\/?)([^:>\s]*:)?([^>]+)>/g, "<$1$3>");
			
				if (window.DOMParser)
  				{
  					parser=new DOMParser();
  					xmlDoc=parser.parseFromString(txt,"text/xml");
  				}
				else // code for IE
  				{
  					xmlDoc=new ActiveXObject("Microsoft.XMLDOM");
  					xmlDoc.async=false;
  					xmlDoc.loadXML(txt);
  				}
  				
  				
  				return xmlDoc;
			}
		</script> 
		
	</head>
	<body>
	
	<nav class="navbar navbar-default navbar-fixed-top">
  		<div class="container">
    		<p class="navbar-text">MITFORD: XML tag to DB schema</p>
    		<!--<ul class="nav navbar-nav navbar-right">-->
        		<!--<li><a href="/accounts/logout">Logout</a></li>-->
        	<!--</ul>	-->
  		</div>
	</nav>
	<div id="Top" class="Top">
		<div class="LeftTop">
			<input id="referenceInput" type="file" class="filestyle" data-size="sm" data-input="false" data-badge="false" data-buttonText="Select XML file">

			<div id="output">
			</div>
		</div>
		<div class="RightTop">
			<div class="btn-toolbar" role="toolbar">
				<div class="btn-group" role="group">
					<button type="button" id="mappingOutput" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-thumbs-up"></span>Generate mapping file</button>
					<input id="mappingLoad" type="file" class="filestyle" data-size="sm" data-input="false" data-buttonText="Load existing mapping" data-badge="false">
				</div>
			</div>
			<p>Mapping version: <label id="labelMappingVersion"></label></p> 			
		</div>
	</div>

	<div class="ModelContainer">
		<div class="Left">
			<div id="tree"></div>
		</div>
		<div class="Right">
			<div id="targetDB"></div>
		</div>

	</div>
	

	<div id="dialog-form-add" class="Popup" title="Confirm entry to add">
		<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
		Do you wish to add this entry to the existing ones?
		</p>
		<table id="current-xpaths-table">
			<thead>
				<tr class="ui-widget-header">
					<th></th>
				</tr>
			</thead>
		</table>
	</div>
	
	<div id="dialog-form-confirm" class="Popup" title="Confirm uncheck">
		<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
		Do you wish to continue configuring this entry or unchecking it?
		</p>
	</div>
	
	<div id="dialog-form-boolean" class="Popup" title="Select boolean example">
		<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
		Select if this is a True or False sample</p>
	</div>
	
	<div id="dialog-form-enum" class="Popup" title="Select the corresponding enumerated">
		<p><span class="ui-icon ui-icon-circle check" style="float:left; margin:0 7px 20px 0;"></span></p>
		<p>Fill in the list of corresponding values for the enumeration</p>
		<table id="enumeration-table" class="ui-widget ui-widget-content">
			<thead>
				<tr class="ui-widget-header">
					<th>Enumerated</th>
					<th>Value</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
		<p>The current reference value is: <label id="enumeration-label"></label></p>
	</div>
	
	<div id="dialog-form-date" class="Popup" title="Select the corresponding date format">
    		<p>
    		The value <label id="date_label"></label> corresponds to:
    		
    		<div class="btn-group" role="group">
	    		<select name="speed" id="select_date">
	    			<optgroup label="Simple string [ddmmyy hh:mm:ss]">
	      				<option selected="selected" value="string">String format</option>
	      			</optgroup>
	      			<optgroup label="Multifield date">
	      				<option value="day">Day</option>
	      				<option value="month">Month</option>
	      				<option value="year">Year</option>
	      				<option value="time">Time</option>
	      			</optgroup>
	    		</select>
	    		</p>
	    		<button type="button" id="tabs-date-add" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-plus"></span>Add tab</button>
    			
    		</div>
    		<div id="tabs-date">
    		<ul>
    		</ul>
    		</div>
  	</div>
	
	
	<div id="error-message" title="Error">
  		<p>
    	<span class="ui-icon ui-icon-circle-check" style="float:left; margin:0 7px 50px 0;"></span>
  		</p>
	</div>
	
	<div id="loader" class="loader" style="display:none;">
    	<p>Loading...</p>
    	<div id="progressbar"></div>
    	
	</div>
	
	<script type="text/javascript" src="{% static 'mitford/js/forms.js' %}"> </script>
	<script type="text/javascript">
		//schema view
		var dataSchema = {{ dataSchema|safe }};
		var targetNodes = [];//XML target nodes
		var contractTypeSelection = {};//contract selection info
		var schemaDisplay = null;//schema display on the left side
		var loadingMapping = false;



		/*
		* Load db mapping
		*/
		function loadMapping(evt){
			var f = evt.target.files[0];
			var reader = new FileReader();
			pageLoader.dialog("open");
			reader.onload = function(e){
				$('#targetDB').empty();
				loadingMapping=true;
				
				loadedMapping = JSON.parse(reader.result);
				displaySchema();

				var rootNode = $("#targetDB").treeview('getNode',0);
				fillTableUsingMapping(rootNode,loadedMapping["mapping"],"#targetDB");

				loadingMapping=false;
				pageLoader.dialog("close");
				
			}
			reader.readAsText(f);
			targetNodes=[];
		}
		
		function fillTableUsingMapping(mappingNode,loadedMapping,schemaName){
			//recursive function to construct the mapping structure
			
			if(mappingNode==null){
				return;
			}
			
			if(typeof(mappingNode.nodes)!="undefined"){
				if(typeof(loadedMapping[mappingNode.db])!="undefined"){
					for(var i=0;i<mappingNode.nodes.length;i++){
						fillTableUsingMapping(mappingNode.nodes[i],loadedMapping[mappingNode.db],schemaName);
					}
				}				
			}
			

			if(typeof(loadedMapping[mappingNode.db])!="undefined"){
			
				var aux = [];
				
				for(var key in loadedMapping[mappingNode.db]){
					if(key.substring(0,2)=="__"){
						mappingNode[key]=loadedMapping[mappingNode.db][key];
						if(key=="__xpath__"){
							for(var i=0;i<mappingNode["__xpath__"].length;i++){
								aux.push(mappingNode["__xpath__"][i]);
							}
						}
					}
				}
				

				if(aux.length==0){
					aux.push("tag");
				}				
				mappingNode.tags=aux;
				
				$(schemaName).treeview('checkNode',mappingNode);
				//console.log(mappingNode.db,"<-",loadedMapping[mappingNode.db]);
			}
		}
		
		/*
		Generate mapping file using current mapping.
		*/
		function generateMapping(evt){
			var result={};
			var rootNode = $("#targetDB").treeview('getNode',0);

			var treeMap=processMappingStructure(rootNode);

			var errorMsg = "";
			if(treeMap==null){
				errorMsg="There is no info to create the call for tenders mapping.";
			}

			if(errorMsg!=""){
				errorMessage.text(errorMsg);
				errorMessage.dialog("open");
			}

			result["version"]=dataSchema["version"];
			result["mapping"]={};
			result["mapping"][rootNode.db]=treeMap;

						
			var theString = JSON.stringify(result,null,4);
			var blob = new Blob([theString],{type: "text/plain;charset=utf-8"});
			var targetFile = "mapping";
			targetFile=targetFile.concat("_",result["version"],".json");
			saveAs(blob,targetFile);
						
		}
		
		
		function processMappingStructure(mappingNode){
			//recursive function to construct the mapping structure
			var result={};
			
			if(typeof(mappingNode.nodes)!="undefined"){
				for(var i=0;i<mappingNode.nodes.length;i++){
					var subtree = processMappingStructure(mappingNode.nodes[i]);
					if (subtree!=null){
						result[mappingNode.nodes[i].db]=subtree;
					}
				}	
			}
			
			for(var key in mappingNode){
				if(key.substring(0,2)=="__"){
					if(typeof(mappingNode[key])!="undefined"){
						result[key]=mappingNode[key];
					}
				}
			}
			

			if(jQuery.isEmptyObject(result)){
				return null;
			}
			
			return result;
		}
	
			
		function viewReference(evt){
			//clear selection
			targetNodes=[];
			//remove
			while ($('#tree').firstChild) {
    			myNode.removeChild(myNode.firstChild);
			}
			$('#tree').empty();
			
			var f = evt.target.files[0];
							
			var reader = new FileReader();
			
			reader.onload = function(e){
				var xml = loadXMLString(reader.result);
				var treeStructure = [processXML(xml,"")];
				var jsonText = JSON.stringify(treeStructure);
				
									
				$('#tree').treeview({
					data: jsonText,
					showCheckbox:false,
					highlightSelected:true,
					selectable:true,
					showTags:true,
					onNodeSelected: function(event,node){
						targetNodes.push(node.nodeId);
					},
					onNodeUnselected: function(event,node){
						targetNodes.splice(0,1);
					}
				});
				
				//update cftSchema
				//updateSchemaInfo(xml);				
			}
			reader.readAsText(f);
			
		}

	
		function processXML(xmlDoc,path){
			var result = {};
			var nodes=[];			
			
			if (xmlDoc.nodeType==1 && xmlDoc.attributes.length!=0){
				for(var j=0;j<xmlDoc.attributes.length; j++){
					var attribute = xmlDoc.attributes.item(j);
					nodes.push({text:attribute.nodeName+":"+attribute.nodeValue,
								//xml data
								xml:path+"/@"+attribute.nodeName,
								//information for the user
								info:attribute.nodeValue});
				}
			}
			
				
			if(xmlDoc.hasChildNodes()){
				result["text"] = xmlDoc.nodeName;
				result["xml"] = path+"";
				result["info"] = "Structure ["+xmlDoc.nodeName+"]";
				result["structure"]=true;
				//+xmlDoc.nodeName;
				for(var i=0;i<xmlDoc.childNodes.length;i++){
					var item = xmlDoc.childNodes.item(i);
					var nodeName = item.nodeName;

					if (typeof(result[nodeName])=="undefined"){
						if(item.nodeType==3){
							result["text"]=result["text"]+" -> "+item.nodeValue;
							result["info"]=item.nodeValue;
							result["structure"]=false;
							//nodes.push({"text" : item.nodeValue,a
							//			"state":{"disabled":"true"}});
						}else{
							nodes.push(processXML(item,path+"/"+nodeName));
						}
					}
				}
			}else{
				result["text"]=xmlDoc.nodeName;
				result["xml"]=path+"";
				result["info"]=xmlDoc.nodeName;
			}
			if(nodes.length!=0){
				result["nodes"] = nodes;
			}
			
			return result;
			
		}
		
		
		
		function updateEnumTable(schemaNode){
			//Update the enum table in the form to represent the
			//remove all the rows
			$("#enumeration-table tr").remove();
			//enumeration entries
			var theTable = document.getElementById("enumeration-table");
			//get the current conversions for this element
			var currentConversions = "undefined";
			if(typeof(schemaNode["__conversion__"])!="undefined"){
				currentConversions = schemaNode["__conversion__"];
			}
			//add the rows
			if(currentConversions=="undefined"){
				//empty thing			
				for(var i=0;i<schemaNode["enum"].length;i++){
					var theRow = theTable.insertRow(0);
					//cell for enumerated
					var cell = theRow.insertCell(0);
					cell.innerHTML=schemaNode["enum"][i][1];
					//cell for the value
					var cell2 = theRow.insertCell(1);
					
					var textField = document.createElement("input");
					textField.id="input_"+i.toString();
					textField.type="text";
					textField.value="undefined "+i.toString();
					cell2.appendChild(textField);
				}
			}else{
				//fill with the current enumeration data
				var i=0;
				for(var key in currentConversions){
					var enumValue = currentConversions[key];
					var theRow = theTable.insertRow(0);
					//cell for enumerated
					var cell = theRow.insertCell(0);
					cell.innerHTML=enumValue;
					//cell for the value
					var cell2 = theRow.insertCell(1);
					var textField = document.createElement("input");
					textField.id="input_"+i.toString();
					textField.type="text";
					textField.value=key;
					cell2.appendChild(textField);
					i++;
				}
			}
			var enumeratedLabel = document.getElementById("enumeration-label");
			var xmlNode = $("#tree").treeview('getNode',targetNodes[0]);
			enumeratedLabel.innerHTML=xmlNode["info"];
		}
		
		function displaySchema(){
			//update version label
			document.getElementById("labelMappingVersion").innerHTML = dataSchema["version"];


			//display the hierarchical schema
			$("#targetDB").treeview({
					data:dataSchema["schema"],
					multiselect:false,
					showCheckbox:true,
					highlightSelected:false,
					showTags:true,
					
					onNodeChecked: function(event,node){
						
						if(loadingMapping){
							return;
						}
						
						var nodeSchema = $("#targetDB").treeview('getNode',node.nodeId);
						
						
						if($("#tree")[0].innerHTML.length>0){
							if(targetNodes.length==0){
								$("#targetDB").treeview('uncheckNode',nodeSchema);
								errorMessage.text("Select an XML entry first");
								errorMessage.dialog("open");				
								return;
							}
						}else{
							$("#targetDB").treeview('uncheckNode',nodeSchema);
							return;
						}
						
						
						//else process it
						var infoTags=[];
						var xmlNode = $('#tree').treeview('getNode',targetNodes[0]);

							
						//Check if you have to ask the user for type conversion
						if(node["type"]=="NullBooleanField"){
							//send the dialog some data we want to convert
							//the dialog will update the conversion table							
							dialog_boolean.data("toConvert",["#targetDB",nodeSchema,xmlNode]);
							dialog_boolean.dialog("open");
						}else if(node["type"]=="EnumerationField"){
							dialog_enum.data("toConvert",["#targetDB",nodeSchema,xmlNode]);
							dialog_enum.dialog("open");
							infoTags.push("Check to open");
						}else if(node["type"]=="DateTimeField"){
							dialog_date.data("toConvert",["#targetDB",nodeSchema,xmlNode]);
							dialog_date.dialog("open");
							infoTags.push("Check to open");
						}else{
							if(typeof(nodeSchema["__xpath__"])=="undefined"){
								nodeSchema["__xpath__"]=[xmlNode["xml"]];
								nodeSchema.tags=infoTags;
							}else{
								nodeSchema["__xpath__"].push(xmlNode["xml"]);
								nodeSchema.tags.push(infoTags);
							}				
							infoTags.push(xmlNode["info"]);
							$('#tree').treeview('unselectNode',xmlNode);
						}

						targetNodes=[];				
						
					},
					onNodeUnchecked: function(event,node){
						
						var nodeSchema = $("#targetDB").treeview('getNode',node.nodeId);
						
						if(targetNodes.length==0){
							//nothing selected simply uncheck
							delete(nodeSchema["__xpath__"]);
							if(typeof(nodeSchema["__conversion__"])!="undefined"){
								delete(nodeSchema["__conversion__"]);
							}
							nodeSchema.tags=[];
							return;
						}
						var xmlNode = $('#tree').treeview('getNode',targetNodes[0]);
																		
						dialog_add.data("toAdd",["#targetDB",nodeSchema,xmlNode]);
						dialog_add.dialog("open");
						return;

					}
						
			});
		}

	
		document.getElementById("referenceInput").addEventListener('change',viewReference,false);
		document.getElementById("mappingOutput").addEventListener('click',generateMapping,false);
		document.getElementById("mappingLoad").addEventListener('change',loadMapping,false);
		displaySchema();//initialize the targetDB schema

	</script>    
	</body>
</html>
